IMSNStore.WebForms/Web References/ProductServiceRef/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.imsnstore.com/services/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.imsnstore.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.imsnstore.com/services/">
      <s:element name="GetProductPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProductPriceResult" nillable="true" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateProductResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductPrice" />
  </wsdl:message>
  <wsdl:message name="GetProductPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductPriceResponse" />
  </wsdl:message>
  <wsdl:message name="CreateProductSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="CreateProductSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductServiceSoap">
    <wsdl:operation name="GetProductPrice">
      <wsdl:input message="tns:GetProductPriceSoapIn" />
      <wsdl:output message="tns:GetProductPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input message="tns:CreateProductSoapIn" />
      <wsdl:output message="tns:CreateProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceSoap" type="tns:ProductServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductPrice">
      <soap:operation soapAction="http://www.imsnstore.com/services/GetProductPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://www.imsnstore.com/services/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductServiceSoap12" type="tns:ProductServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductPrice">
      <soap12:operation soapAction="http://www.imsnstore.com/services/GetProductPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap12:operation soapAction="http://www.imsnstore.com/services/CreateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="ProductServiceSoap" binding="tns:ProductServiceSoap">
      <soap:address location="https://localhost:44360/ProductService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductServiceSoap12" binding="tns:ProductServiceSoap12">
      <soap12:address location="https://localhost:44360/ProductService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>